{% extends "index.html" %}

{% block title %}Drone J{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Real-Time Aircraft Tracker</h1>
            
    <!-- Map Container -->
    <div id="map"></div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- External map.js script -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

    <h1 style="text-align: center;">JSON DATA</h1>
    <p>Here is what's being seen:</p>
    <pre>{{ data | tojson(indent=4) }}</pre>
{% endblock %}